<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Title</key>
		<string>Custom</string>
	</dict>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderShowsLabelColorsAutosaveName</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {197, 697}}</string>
		<string>{{198, 0}, {1082, 697}}</string>
	</array>
	<key>binderState</key>
	<array>
		<integer>0</integer>
		<integer>18</integer>
		<integer>1</integer>
		<integer>15</integer>
		<integer>14</integer>
		<integer>6</integer>
	</array>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>corkboardShowKeywordColors</key>
	<true/>
	<key>corkboardShowLabels</key>
	<true/>
	<key>corkboardShowStatusStamps</key>
	<false/>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>0.71363639831542969</real>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperWidth</key>
	<integer>804</integer>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorSelectedDataTab</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {881, 671}}</string>
		<string>{{882, 0}, {200, 671}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>200</real>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<integer>0</integer>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>80</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>2</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>12</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>13</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>14</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>14</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>14</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>15</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>2</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>12</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>13</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>15</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>16</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>17</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>16</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>17</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>95</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>9</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>16</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>17</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>11</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>7</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>10</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>10</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>7</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>15</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>11</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>13</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>12</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>13</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>14</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>16</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>17</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>16</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>17</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>16</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>16</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>13</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>16</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>21</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>16</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>21</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>21</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>23</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>21</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>23</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>23</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>24</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<true/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>0 59 1280 719 0 0 1280 778 </string>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
	<key>tintIndexCardsWithLabelColor</key>
	<false/>
</dict>
</plist>
